html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
@-webkit-keyframes fadein {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}body {
    background: #f3f3f3;
    color: #474747;
    font: normal 100% "Lato", georgia, serif;
}
body a {
    color: #535353;
    text-decoration: none;
}
header {
    margin: 40px auto 0;
    max-width: 960px;
    text-align: center;
}
header h1 {
    font: 700 1.35em ff-meta-serif-web-pro, georgia, serif;
    margin: 0 1em 12px 1em;
}
header h1 a {
    color: #373737;
}
header h2 ul li {
    display: inline-block;
}
header h2 ul li a {
    color: #888;
    font: 700 0.95em proxima-nova, helvetica neue, helvetica, arial, sans-serif;
    margin: 0 8px;
    padding: 0 0 3px 0;
    position: relative;
}
header h2 ul li a:hover {
    color: #333;
}
body.index:not(.tag-favorite):not(.tag-design):not(.tag-literature) li.nav-index a, body.tag-favorite li.nav-favorites a, body.tag-design li.nav-design a, body.tag-literature li.nav-literature a {
    border-bottom: 0;
    color: #222;
}
body.index:not(.tag-favorite):not(.tag-design):not(.tag-literature) li.nav-index a:after, body.tag-favorite li.nav-favorites a:after, body.tag-design li.nav-design a:after, body.tag-literature li.nav-literature a:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #292929;
    bottom: -0.5em;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;
}
#container {
    margin: 0 10px;
}
#posts {
    margin: 30px auto 80px;
    padding: 20px 0 20px 0;
    max-width: 1000px;
}
#posts .post {
    background: #fff;
    border-radius: 2px;
    float: left;
    margin: 0 1% 1.5em;
    overflow: hidden;
    position: relative;
    -webkit-animation: fadein 0.85s ease-in;
    -moz-animation: fadein 0.85s ease-in;
    animation: fadein 0.85s ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
#posts .post a {
    display: block;
}
#posts .post a img {
    position: relative;
}
#posts .post .caption {
    font-size: 0.8em;
    line-height: 1.3;
}
#posts .post .caption h1 {
    display: inline;
    font-weight: bold;
    margin: 0 0 1em 0;
}
#posts .post .caption h2 {
    color: #575757;
    display: inline;
    font-family: proxima-nova, helvetica neue, helvetica, arial, sans-serif;
    position: relative;
    font-size: 13px;    
}
body.index #container #posts .post {
    width: 18%}
body.index #container #posts .post img {
    max-width: 100%;
    min-width: 100%
    text-decoration: none;
}
img:hover {
    text-decoration: none;
}
body.index #container #posts .post .caption {
    margin: 0;
    padding: 10px 20px 10px 10px;
    position: relative;
}
body.index #container #posts .post .caption h1 {
    margin: 0 0 1em 0;
    font-size: 21px;
    text-align: center;
}
@media only screen and (max-width: 820px) {
    body.index #container #posts .post {
    margin-bottom: 1em;
    width: 31.333333333%}
}@media only screen and (max-width: 640px) {
    body.index #container #posts .post {
    margin-bottom: 0.5em;
    width: 48%}
}body.post-page #container #posts {
    max-width: 300px;
}
body.post-page #container #posts .post {
    float: none;
    margin: 0;
    max-width: 300px;
    text-align: left;
}
body.post-page #container #posts .post img {
    background: #fff;
    max-width: 300px;
}
body.post-page #container #posts .post .caption {
    color: #555;
    padding: 10px;
}
body.post-page #container #posts .post .caption h3 {
    margin: 1em 0 0 0;
}
#pagination {
    display: none;
}
#infscr-loading {
    background: #000;
    border-radius: 3px;
    bottom: 10px;
    color: #fff;
    font-size: 0.8em;
    left: 50%;
    margin: 0 0 0 -135px;
    opacity: 0.6;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 250px;
    z-index: 5000;
}
#infscr-loading img {
    display: none;
}
.masonry, .masonry .masonry-brick {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
@media only screen and (max-width: 320px) {
    header h1 {
    font-size: 1.1em;
}
header h2 ul li a {
    font-size: .85em;
}
#posts {
    margin-top: 10px;
}
}