---
layout: default
title: My Blog
---

<!-- This loops through the paginated posts -->
 <header>
    <hr>
    <div class = "movietitle">Mauricio's Film List</h1></div>
      <hr>

  <div class="col-centered">
             <h2>You can read my <a href="http://maurrivera.com/blog">writing</a>, browse my <a href="http://film.maurrivera.com">films list</a>, browse my <a href="http://books.maurrivera.com">books list</a> or send me an <a href= “mailto:maurrivera@gmail.com”>email</a>. I can also be found on <a href="http://twitter.com/maurrivera">Twitter</a>, <a href="http://github.com/maurlamf">Github</a>, and <a href="http://linkedin.com/in/maurrivera">LinkedIn</a>. You can read about my ratings system <a href = "http://maurrivera.com/ratings">here</a>.</h2>
             <hr>
  </div>
  </header>
<div class = "row">
  <div class="col-lg-5 col-centered">

      <div class="row">
          {% for post in paginator.posts %}
          <h1>{{ post.title }}</h1>
          
        </p>
        <div class="content"><p>
          {{ post.date | date: "%B %-d, %Y" }}
          {{ post.content }}
        </p>
      </div>
      {% endfor %}

      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
        {% else %}
        <li><span>&laquo; Prev</span></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a href "">{{ page }}{% elsif page == 1 %}</a></li>
        <li><a href="{{ 'blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

